[submodule "proxygen"]
	path = proxygen
	url = https://github.com/facebook/proxygen.git
[submodule "folly"]
	path = folly
	url = https://github.com/facebook/folly.git
[submodule "wangle"]
	path = wangle
	url = https://github.com/facebook/wangle.git
